extends layouts/main

block content
    .form-container
        form(action=routes.editResume(resume.id), method="post")
            input(type="text", placeholder="제목", name="title", value=resume.title)
            label(for="avatar") 프로필 사진
            input(type="file", id="profileImg1", name="profileImg1", value=resume.imgUrl1)
            input(type="file", id="profileImg2", name="profileImg2", value=resume.imgUrl2)
            input(type="file", id="profileImg3", name="profileImg3", value=resume.imgUrl3)
            textarea(name="description", placeholder="설명")=resume.description
            input(type="submit", value="수정 완료")