extends layouts/main

block content
    .recruit__info
        h5.recruit__title=recruit.title
        span.recruit__views=recruit.views
        .recruit__author
            a(href=routes.userDetail(recruit.creator.id))=recruit.creator.name
        p.recruit__description=recruit.description
        if loggedUser && recruit.creator.id === loggedUser.id
            a(href=routes.editRecruit(recruit.id)) 수정
        if loggedUser
            a(href=routes.apply(recruit.id)) 지원하기
            a(href=routes.list(recruit.id)) 지원자 보기