extends layouts/main

block content
    .resume__info
        img.resume__image(src=resume.imgUrlOne)
        img.resume__image(src=resume.imgUrlTwo)
        img.resume__image(src=resume.imgUrlThree)
        h5.resume__title=resume.title
        span.resume__keywords=resume.keywords
        p.resume__creator=resume.creator 
        p.resume__description=resume.description
        p|키워드 1 #{resume.keywordA}%
        p|키워드 2 #{resume.keywordB}%
        p|키워드 3 #{resume.keywordC}%
        p|키워드 4 #{resume.keywordD}%
        p|키워드 5 #{resume.keywordE}%
        a(href=routes.editResume(resume.id)) 수정
        a(href=routes.deleteResume(resume.id)) 삭제하기
        button(onclick="history.back()") 뒤로가기