extends layouts/main
include mixins/recruitBlock
include mixins/resumeBlock

block content
    .user-profile
        .avatar-container
            if user.avatarUrl
                img.u-avatar(src=user.avatarUrl)
            else
                img.u-avatar(src=user.avatarUrl)
        h4.profile__username=user.name
    if loggedUser && user.id === loggedUser.id
        .user-profile__btns
            if user.resumes.length < 4
                a(href=`/resumes${routes.uploadResume}`)
                    button ðŸ“ í”„ë¡œí•„ ìž‘ì„±
            a(href=`/users${routes.editProfile}`)
                button âœï¸ ë‚´ ì •ë³´ ìˆ˜ì •
            a(href=`/users${routes.changePassword}`)
                button ðŸ”’ ë¹„ë°€ë²ˆí˜¸ ë³€ê²½
    .userDetail__resumes
        h4.list__label ë‚´ ì§€ì›ì„œ
        -var allResumes = user.resumes.reverse();
        -var resumes = allResumes.filter(recruit => allResumes.indexOf(resumes) < 5)
        each resume in resumes
            +resumeBlock({
                id:resume.id,
                title:resume.title,
                image:resume.imgUrlOne,
                creator:resume.creator,
            })
    .userDetail__recruitList
        h4.list__label ìž‘ì„±í•œ ëª¨ì§‘ê¸€ ëª©ë¡
        -var allRecruits = user.recruitList.reverse();
        -var recruits = allRecruits.filter(recruit => allRecruits.indexOf(recruit) < 5)
        each recruit in recruits
            +recruitBlock({
                id:recruit.id,
                title:recruit.title,
                views:recruit.views,
            })
    .userDetail__applyList
        h4.list__label ì§€ì›í•œ ëª¨ì§‘ê¸€ ëª©ë¡
        -var allApplies = user.applyList.reverse();
        -var applies = allApplies.filter(apply => allApplies.indexOf(apply) < 5)
        each apply in applies
            +recruitBlock({
                id:apply.id,
                title:apply.title,
                views:apply.views,
            })