extends layouts/main

block content
    .editResume
        .form-container
            form(action=routes.editResume(resume.id), method="post")
                input(type="text", placeholder="이름", name="name", value=resume.name).editResume__name.name
                .form__content
                    h2|출생연도
                    .radio
                        select(name="birth")
                            - var y = (new Date().getFullYear());
                            while y >= 1900
                                if y == resume.birth
                                    option(value=y, selected)= y--
                                else 
                                    option(value=y)= y--

                .textarea
                    h2|설명
                    textarea(name="description", placeholder="설명", warp="hard",required=true)=resume.description
                .submit
                    input(type="submit", id="submitBtn", value="작성 완료").submitBtn
                    input(type="button", id="backBtn", value="취소", onclick="history.back()").cancelBtn